<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindorks.waprofileimage">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name=".waprofileImage.wapprofileimageactivity.WAProfileImageActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent"></activity>
        <activity
            android:name=".waprofileImage.camera.CameraActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            >

        </activity>
    </application>

</manifest>